<nav class="navbar">
  <div class="navbar-content">
    <!-- Sección de logo y título -->
    <div class="navbar-logo">
      <img src="/assets/logo.png" alt="Logo">
      <div class="logo-text">
        <span class="logo-line1">MAKE THE</span>
        <span class="logo-line2">DIFFERENCE</span>
      </div>
    </div>
    <!-- Menú de navegación -->
    <div class="navbar-links">
      <a href="/admin-panel/about-us-control">About Us</a>
      <a href="/admin-panel/file-upload">File Upload</a>
      <a href="/admin-panel/library">Library</a>
      <a href="/admin-panel/spotify-control">Spotify</a>
    </div>
  </div>
</nav>
