<nav class="bg-[#ED117F] p-4 flex items-center justify-between">
  <!-- Sección de logo y título -->
  <div class="flex items-center gap-2 ms-4">
    <img
      ngSrc="/assets/logo.png"
      alt="Logo"
      class="w-[86px] h-auto"
      width="2465"
      height="2503"
    />
    <span class="text-white font-semibold text-2xl uppercase leading-tight">
    Make The <br> Difference
  </span>
  </div>



  <!-- Menú de navegación -->
  <div class="navbar-links text-4xl">
    <i class="fa-solid fa-users-gear text-white"></i>
    <i class="fa-solid fa-calendar-days ms-12 text-white"></i>
    <i class="fa-solid fa-list-check ms-12 text-white"></i>
    <i class="fa-solid fa-gear ms-12 text-white"></i>
  </div>

  <div class="text-3xl">
    <i class="fa-solid fa-user text-white"></i>
  </div>
</nav>
