/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Opcional: si quieres forzar que no haya scroll horizontal */
  overflow-x: hidden;
}
